* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sinupSingin::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 2, 5, 0.7);
}
body {
  background: #f5f7fc;
}
